@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: #F3C623;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  display: flex;
  width: 200%; /* Critical: match to duplication */
}

.animate-marquee:hover {
  animation-play-state: paused;
}

